@import "tailwindcss";
/* *{
    background-color: black;
} */
 /* Protect Excalidraw UI from Tailwind's base reset */
.excalidraw button {
  background-color: inherit;
  border: inherit;
  color: inherit;
}
/* restoring color BC colour kyun jaa rha  */
.excalidraw .color-picker__swatch {
  background-color: var(--swatch-color) !important;
}

/* *{
  background-image: url("../image/background-wall-concept-with-copy-space.jpg");
} */